.loading {
  display: none;
  margin-bottom: 1rem;
  background-size: 200% 200%;
  background-image: linear-gradient(to right, $green 50%, transparent 0);
  background-position: right;
  transition: background-position 1s;

  &.load {
    background-position: left;
  }

  p {
    margin: 0;
    padding: 0.5rem 1rem;
    color: $white;
    font-size: 2rem;
  }
}
