.text {
  line-height: 2;

  p {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.photo {
  display: none; // will show/hide later with remix
  float: right;
  max-height: 400px;
  margin: 1rem 0 2.5rem 2.5rem;
  border: 1px solid $black;
  border-radius: 125px;
}

.attribute {
  border-bottom: 2px solid $red;

  &.highlight,
  &.change {
    display: inline-block;
    padding: 0 1.5rem 0 1rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    font-family: 'Caveat', cursive;
  }

  &.highlight { background-color: $yellow; }
  &.change { background-color: lighten( $green, 55% ); }
}
