<fieldset class="ethnicity">
  <legend>Race/Ethnicity</legend>

  <input required type="radio" name="ethnicity" id="ethnicity-white" value="white" />
  <label id="ethnicity-white-label" for="ethnicity-white">White</label>

  <input required type="radio" name="ethnicity" id="ethnicity-black" value="black" />
  <label id="ethnicity-black-label" for="ethnicity-black">Black</label>

  <input required type="radio" name="ethnicity" id="ethnicity-aapi" value="aapi" />
  <label id="ethnicity-aapi-label" for="ethnicity-aapi">Asian American / Pacific Islander</label>

  <input required type="radio" name="ethnicity" id="ethnicity-latinx" value="latinx" />
  <label id="ethnicity-latinx-label" for="ethnicity-latinx">Latinx / Hispanic</label>

  <!--
  <br/>
  <input required type="radio" name="ethnicity" id="ethnicity-random" value="random" />
  <label id="ethnicity-random-label" for="ethnicity-random">Random</label>
  -->

</fieldset>
