<fieldset class="original">
  <legend>Character Story</legend>

  <label class="original harry">
    <input required type="radio" name="original" value="harry" />
    Harry Potter
  </label>

  <label class="original ron">
    <input required type="radio" name="original" value="ron" />
    Ron Weasley
  </label>

  <label class="original hermione">
    <input required type="radio" name="original" value="hermione" />
    Hermione Granger
  </label>

  <label class="original same">
    <input type="checkbox" name="same" value="same" />
    Use the same story for any selected character
  </label>

</fieldset>
