<fieldset class="gender">
  <legend>Gender</legend>

  <input required type="radio" name="gender" id="gender-cisfemale" value="cisfemale" />
  <label id="gender-cisfemale-label" for="gender-cisfemale">Cis Female</label>

  <input required type="radio" name="gender" id="gender-cismale" value="cismale" />
  <label id="gender-cismale-label" for="gender-cismale">Cis Male</label>

  <input required type="radio" name="gender" id="gender-transfemale" value="transfemale" />
  <label id="gender-transfemale-label" for="gender-transfemale">Trans Female</label>

  <input required type="radio" name="gender" id="gender-transmale" / value="transmale">
  <label id="gender-transmale-label" for="gender-transmale">Trans Male</label>

  <input required type="radio" name="gender" id="gender-nonbinary" / value="nonbinary">
  <label id="gender-nonbinary-label" for="gender-nonbinary">Non-binary</label>

  <!--
  <br/>
  <input required type="radio" name="gender" id="gender-random" value="random" />
  <label id="gender-random-label" for="gender-random">Random</label>
  -->

</fieldset>
