<fieldset class="original">
  <legend>Original Character</legend>

  <label id="original-harry">
    <input required type="radio" name="original" value="harry" />
    Harry Potter
  </label>

  <label id="original-ron">
    <input required type="radio" name="original" value="ron" />
    Ron Weasley
  </label>

  <label id="original-hermione">
    <input required type="radio" name="original" value="hermione" />
    Hermione Granger
  </label>

  <!--
  <label id="original-random">
    <input required type="radio" name="original" value="random" />
    Random
  </label>
  -->

</fieldset>
