<fieldset class="gender">
  <legend>Gender</legend>

  <label class="gender cisfemale">
    <input required type="radio" name="gender" value="cisfemale" />
    Cis Female
  </label>

  <label class="gender cismale">
    <input required type="radio" name="gender" value="cismale" />
    Cis Male
  </label>

  <label class="gender transfemale">
    <input required type="radio" name="gender" value="transfemale" />
    Trans Female
  </label>

  <label class="gender transmale">
    <input required type="radio" name="gender" / value="transmale">
    Trans Male
  </label>

  <label class="gender nonbinary">
    <input required type="radio" name="gender" / value="nonbinary">
    Non-binary
  </label>

  <!--
  <label class="gender random" for="gender-random">
    <input required type="radio" name="gender" value="random" />
    Random
  </label>
  -->

</fieldset>
