<fieldset class="gender">
  <legend>Gender</legend>

  <label id="gender-cisfemale">
    <input required type="radio" name="gender" value="cisfemale" />
    Cis Female
  </label>

  <label id="gender-cismale">
    <input required type="radio" name="gender" value="cismale" />
    Cis Male
  </label>

  <label id="gender-transfemale">
    <input required type="radio" name="gender" value="transfemale" />
    Trans Female
  </label>

  <label id="gender-transmale">
    <input required type="radio" name="gender" / value="transmale">
    Trans Male
  </label>

  <label id="gender-nonbinary">
    <input required type="radio" name="gender" / value="nonbinary">
    Non-binary
  </label>

  <!--
  <label id="gender-random" for="gender-random">
    <input required type="radio" name="gender" value="random" />
    Random
  </label>
  -->

</fieldset>
